NODE_ENV=development

APP_NAME=TukiTuki Backend
PORT=3001
API_PREFIX=api/v1
ADMIN_WEB_ORIGIN=http://localhost:3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=tukituki
DATABASE_USER=tukituki
DATABASE_PASSWORD=change_me
DATABASE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379

OTP_TTL_SECONDS=300
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5
OTP_HASH_SECRET=change-this-otp-hash-secret

JWT_ACCESS_SECRET=change-this-access-secret
JWT_ACCESS_TTL_SECONDS=900

REFRESH_TOKEN_TTL_SECONDS=2592000

SUPER_ADMIN_PHONE_E164=+51999999999
SUPER_ADMIN_PASSWORD=change-this-secure-password
RIDE_START_CODE_SECRET=replace-with-a-random-secret-of-at-least-32-characters
RIDE_START_CODE_TTL_SECONDS=900
RIDE_START_CODE_MAX_ATTEMPTS=5
RIDE_START_CODE_MAX_REGENERATIONS=3

RIDE_FINAL_FARE_MAX_INCREASE_PERCENT=20
