NODE_ENV=development

APP_NAME=TukiTuki Backend
PORT=3001
API_PREFIX=api/v1
ADMIN_WEB_ORIGIN=http://localhost:3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=tukituki
DATABASE_USER=tukituki
DATABASE_PASSWORD=change_me
DATABASE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379

OTP_TTL_SECONDS=300
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5
OTP_HASH_SECRET=8284dfb2a06d9bb07a09c3ba077777855a77a7e3121926e16af2de20bad441b2s

JWT_ACCESS_SECRET=f3b88ed75e13d53c2721085685a580ec782abd94935f3fd86d08c5fafaa8947fb21509960db85a6c4da6233535ede28c1be2d3483b60f55263d1454bdfb4557a
JWT_ACCESS_TTL_SECONDS=900

REFRESH_TOKEN_TTL_SECONDS=2592000